BasicAuthentication/bin/
BasicAuthentication/obj/
hg/
.hg
.hgignore
.vs/
*.suo
packages/
BasicAuthentication.WebTest/bin/
BasicAuthentication.WebTest/obj/
nuget publish.bat
Build/
Backup/
msbuild.log